extends ./layout.pug

block content

    .container

      .loginScreen
        #google.loginBtn(role='button')
          img(src='/google.svg')
          | Sign In With Google
        #twitter.loginBtn(role='button')
          img(src='/twitter.svg')
          | Sign In With Twitter
