doctype html
html
  head
    title PinDin | Pin your food!
    meta(name='viewport', content='width=device-width, height = device-height , initial-scale==1')
    script(src='https://code.jquery.com/jquery-2.2.4.min.js', integrity='sha256-BbhdlvQf/xTY9gja0Dq3HiwQF8LaCRTXxZKRutelT44=', crossorigin='anonymous')
    link(rel='stylesheet' href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css")
    script(src='https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js')
    script(src='https://unpkg.com/masonry-layout@4.0.0/dist/masonry.pkgd.min.js')
    link(rel='stylesheet' type="text/css" href='/main.css')
    script(src='/main.js')

  body
    nav.navbar.navbar-default.navbar-static-top
      .container
        button.navbar-toggle(type='button', data-toggle='collapse', data-target='.navbar-collapse')
          span.sr-only Toggle navigation
          span.icon-bar
          span.icon-bar
          span.icon-bar
        a(href='/')
          h1.nav.navbar-nav.navbar-brand Pin*Din

        .collapse.navbar-collapse
            ul.nav.navbar-nav.navbar-right
              li
                a#upload(role='button') Upload
              li
                if(!user)
                  a#login(role='button') Login
                if(user)
                  a#profile(href='profile')=user.name
    block content
